{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<LINK REL="ICON" HREF="FAVICON.ICO">-->

    <title>Warning...</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'p_excel/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'p_excel/css/custom.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
   <h1>{{ contect }}</h1>

  </body>
</html>
